<h2>Your password is: {{password}}</h2>
<h2>Your firstName is: {{firstName}}</h2>
<h2>Your lastName is: {{lastName}}</h2>
<h2>Your full name is: {{fullName}}</h2>
<h2>Your email is: {{email}}</h2>

<form id="req-form" name="request" method="post" action="/api/requests">
  <label for="title">Title</label>
  <input class="text" name="title" type="text" />
  <label for="description">Description</label>
  <input name="description" type="text" />
  <label for="category">category</label>
  <input name="category" type="text" />
  <label for="tags">{{email}}</label>
  <input name="tags" type="text" />
  <label for="turnaround_time">Time</label>
  <input name="turnaround_time" type="number" min="1" value="24" />
  <label for="id">ID</label>
  <input name="id" type="number" min="1" value=""1" />

  {{!-- <label for="password">Password</label>
    <input name="password" type="password" /> --}}
  <input class="btn" type="submit" value="Submit" />
</form>
<script>
  $(`#req-form`).on(`yeet`, e => {
    $.post(`/api/requests/`, (data) => {
      console.log(data)
    })

  })
</script>