<div style="padding: 1.2em;">
  <h2>Your password is: {{password}}</h2>
  <h2>Your firstName is: {{firstName}}</h2>
  <h2>Your lastName is: {{lastName}}</h2>
  <h2>Your full name is: {{fullName}}</h2>
  <h2>Your email is: {{email}}</h2><br><br>
</div>

<div style="background: rgb(191, 255, 179); padding: 1.2em;">
  <form id="req-form" name="request" data-user-id="{{id}}"
    <label for="title">Title</label>
    <input class="text" name="title" type="text" id="title" />
    <label for="description">Description</label>
    <input name="description" type="text" id="description" />
    <label for="category">category</label>
    <input name="category" type="text" id="category" />
    <label for="tags">{{email}}</label>
    <input name="tags" type="text" id="tags" />
    <label for="turnaround_time">Turnaround Time (in whole hours)</label>
    <input name="turnaround_time" type="number" min="1" value="24" id="turnaround_time" />
    <input class="btn" type="submit" value="Submit" />
  </form>

  <form id="change-profile-img-form" name="progiaSKDjk">
    <label for="profileImg">Change Image to:</label>
    <input class="text" name="profileImg" type="text" id="profileImg" />
    <input class="btn" type="submit" value="Submit" />
  </form>
</div>

<hr>

<div id="req-div" style="background: rgb(10, 204, 178); padding: 1.2em;"></div>

<script>
  // $(`#req-form`).hide()

  $(`#req-form`).on(`submit`, e => {
    e.preventDefault()

    

    let newRequest = {
      title: $(`#title`).val(),
      description: $(`#description`).val(),
      category: $(`#category`).val(),
      tags: $(`#tags`).val(),
      turnaround_time: 2,
      UserId: $(`#req-form`).data(`user-id`)
    }

    console.log(`the new request is: `,newRequest)

    $.post(`/api/requests`, newRequest, () => {
      window.location.href = "/grvtest"
    })


  })

  $(`#change-profile-img-form`).on(`submit`, e => {
    e.preventDefault()

    console.log($(`#profileImg`).val())

    let newImgLink = $(`#profileImg`).val().trim()

    $.ajax({
      url: `/api/userdetails/` + 2,
      method: `PUT`,
      data: { profileImg: newImgLink }
    }).then(() => {
      window.location.href = "/grvtest"
    })

  })

  // get all request info and create list-items for each
  $.get(`/api/requests`, data => {
    // console.log(data)
    $(`#req-div`).append(`<ul id="requests-list">`)

    data.forEach(request => {
      let item = $(`<li>`).append($(`<p>`).text(`Title: ` + request.title)).append($(`<p>`).text(`Description: ` + request.description))
        .append($(`<p>`).text(`Turnaround Time: ` + request.turnaround_time + ` hr(s)`))
        .append($(`<p>`).text(`Starting Price: ` + request.starting_price + ` zeed(s)`))
        .append($(`<p>`).text(`Taken by Artist: User ID #` + request.artist_id))
        .append($(`<p>`).text(`Current Bid: ` + request.current_bid + ` Zeeds`))
        .append($(`<input id="submit-bid-${request.id}" style="width: 25%;" type="number" data-request-id="${request.id}">`))
        .append($(`<button class="btn bid-btn" data-request-id="${request.id}">`).text(`Bid`))
        .append($(`<input id="poop-${request.id}" style="width: 25%;" type="number" data-request-id="${request.id}">`))
        .append($(`<button class="btn poop-btn" data-request-id="${request.id}">`).text(`Update Turnaround time`))
        .append($(`<hr>`))

      item.appendTo(`#requests-list`)

    })

    // change artist id when clicking take request
    $(`.bid-btn`).on(`click`, event => {
      event.preventDefault()
      let requestID = $(event.target).data(`request-id`)
      let bid = $(`#submit-bid-${requestID}`).val()

      console.log(bid)

      // find id of request and user id of taker
      $.ajax({
        url: `/api/requests/` + requestID,
        method: `PUT`,
        data: { current_bid: bid }
      }).then(() => {
        window.location.href = "/grvtest"
      })
    })

    $(`.poop-btn`).on(`click`, event => {
      event.preventDefault()
      let requestID = $(event.target).data(`request-id`)
      let newTime = $(`#poop-${requestID}`).val()

      console.log(bid)

      // find id of request and user id of taker
      $.ajax({
        url: `/api/requests/` + requestID,
        method: `PUT`,
        data: { turnaround_time: newTime }
      }).then(() => {
        window.location.href = "/grvtest"
      })
    })
  })


</script>