<!-- Profile avatar/bio section -->
<div class="container center-align">
  <div class="row">
    <div class="col s12 center-align z-depth-2 teal accent-4">
      {{!-- <i class="material-icons" style="font-size: 200px; align-items: center;">account_circle</i> --}}
      <img src="/userdata/profile/{{Userdetail.dataValues.profileImg}}" alt="" style="margin: 1.3em;">
      <p class="flow-text">
        <h5 class="center-align white-text"><strong>{{firstName}} {{lastName}}</strong></h5>
        <i class="white-text">Sacramento, CA</i>
        <p class="white-text">
          {{Userdetail.dataValues.bio_statement}}
          {{!-- I'm a digital illustrator from Sacramento, CA. I've been in the biz for over 8 years, and
          would be happy to work on your next art project. Send me a message to start the conversation! --}}
        </p>
      </p>
    </div>
  </div>
  <!-- section divider and header - requested gigs -->
  <!-- Gigs go hereeeeeeeeeeeee -->
  <!-- gig 1 -->
  <div class="row user-request-container">

    <div class="halign-wrapper" style="width:100%;height:100%;position:static;padding: 0px;">
      <div class="valign" style="width:100%;">
        <div class="container">
          <div class="row white-text">
            <div class="col col s12 light-green">
              <h5>Gig</h5>
              <p>This is description for gig</p>
              <a class="waves-effect waves-light btn-small">Button</a>
              <br>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="halign-wrapper" style="width:100%;height:100%;position:static;padding: 0px;">
      <div class="valign" style="width:100%;">
        <div class="container">
          <div class="row white-text">
            <div class="col col s12 light-green">
              <h5>Gig</h5>
              <p>This is description for gig</p>
              <a class="waves-effect waves-light btn-small">Button</a>
              <br>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="halign-wrapper" style="width:100%;height:100%;position:static;padding: 0px;">
      <div class="valign" style="width:100%;">
        <div class="container">
          <div class="row white-text">
            <div class="col col s12 light-green">
              <h5>Gig</h5>
              <p>This is description for gig</p>
              <a class="waves-effect waves-light btn-small">Button</a>
              <br>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="halign-wrapper" style="width:100%;height:100%;position:static;padding: 0px;">
      <div class="valign" style="width:100%;">
        <div class="container">
          <div class="row white-text">
            <div class="col col s12 light-green">
              <h5>Gig</h5>
              <p>This is description for gig</p>
              <a class="waves-effect waves-light btn-small">Button</a>
              <br>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <button type="button" class="collapsible" id="open-request-button">Open Request Form</button>
    <div class="request-form-content" 
    {{!-- style="display: none;" --}}
    >
      <form id="req-form" name="request" data-user-id="{{id}}">
        <label for="title">Title</label>
        <input class="text" name="title" type="text" id="title" />
        <label for="description">Description</label>
        <input name="description" type="text" id="description" />
        <label for="tags">Tags</label>
        <input name="tags" type="text" id="tags" />
        <label for="turnaround_time">Turn Around Time in Hours</label>
        <input name="turnaround_time" type="number" min="1" max="168" value="24" id="turnaround_time" />
        <label for="starting_price">Starting Price</label>
        <input type="text" id="starting-price">
        <label for="category">Choose a medium of art:</label>
        <select name="category" id="category" style="display: block;">
          <option value="digital" selected >Digital</option>
          <option value="painting">Painting</option>
          <option value="sketch">Sketch</option>
          <option value="lineart">Line art</option>
          <option value="photography" >Photography</option>
          <option value="videography">Videography</option>
        </select>
        <input class="btn" type="submit" value="Submit" />

      </form>
    </div>

  </div>
</div>

{{!-- <div class="user-request-container"></div> --}}
<script src="/_js/profile-copy.js"></script>
{{!-- <script src="/_js/request.js"></script> --}}